@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,400;1,500;1,900&display=swap');

*{     
     font-family: 'Poppins', sans-serif;
 }
 .navbar{
    background-color: #ed6e1479;
 }
.menu a{
    color: #000000;
    margin-right: 20px;
}
.card{
    margin-top: 90px;
}
.barra{
    position: absolute;
    width: 1900px;
    height: 97px;
    top:290%;
    background: #202B25;
}




