<div class="background">

  <div class="text">
    <h1>{{cabecalho}}</h1>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="row d-flex justify-content-center">
      <div class="col-sm-8  form-group">
        <input class="form-control form-control-lg" id="nome" name='nome' placeholder="NOME COMPLETO" formControlName="nome"
               type="text"  [ngClass]="aplicaCssErroCampo('nome')">
        <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
      </div>

    </div>

    <div class="row d-flex justify-content-center">



      <div class="form-group col-lg-8 ">
        <input class="form-control form-control-lg" id="CNPJ" name="cpf" placeholder="CNPJ" required type="text" formControlName="cnpj"
               [ngClass]="aplicaCssErroCampo('cnpj')" mask="000.000.000-00||00.000.000/0000-00">
        <app-error-msg [control]="formulario.get('cnpj')" label="cnpj"></app-error-msg>
      </div>

    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-group col-lg-8">
        <input class="form-control form-control-lg" id="email" name="email" placeholder="EMAIL"  type="email"    formControlName="email"
               [ngClass]="aplicaCssErroCampo('email')">
        <app-error-msg [control]="formulario.get('email')" label="email"></app-error-msg>
      </div>

    </div>
    <div class="row d-flex justify-content-center">
      <div class="form-group col-lg-8">
        <input class="form-control form-control-lg" id="password" name=senha placeholder="SENHA"
               type="password"  formControlName="senha"
               [ngClass]="aplicaCssErroCampo('senha')">
        <app-error-msg [control]="formulario.get('senha')" label="Senha"></app-error-msg>
      </div>

    </div>
    <div class="row d-flex justify-content-center">
      <div class="form-group col-lg-8">
        <input class="form-control form-control-lg" id="password1" placeholder="CONFIRMAR SENHA"
               type="password"  formControlName="senha1"
               [ngClass]="aplicaCssErroCampo('senha1')">
        <app-error-msg [control]="formulario.get('senha1')" label="Senha"></app-error-msg>
      </div>

    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8 form-group">
        <select class="custom-select" id="inputGroupSelect03" name="servico_do_comercio" formControlName="servico_do_comercio"
                [ngClass]="aplicaCssErroCampo('servico_do_comercio')">
                require style="background-color: #C4C4C4;">
          <option selected>Serviço...</option>
          <option value="Combustivel">Combustivel</option>
          <option value="Falhas mecanicas">Falhas mecanicas</option>
          <option value="Reboques">Reboques</option>
        </select>

      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8  form-group">
        <input type="text" class="form-control form-control-lg" id="nome_do" name='nome' placeholder="NOME DO COMERCIO"  formControlName="nome_do_comercio"
               [ngClass]="aplicaCssErroCampo('nome_do_comercio')">
        <app-error-msg [control]="formulario.get('nome_do_comercio')" label="Nome do comercio"></app-error-msg>

      </div>

    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8  form-group">
        <input class="form-control form-control-lg" id="VALOR" name='nome' placeholder="VALOR  DO SERVICO" required
               mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ "  type="text"   formControlName="valor_servico"
               [ngClass]="aplicaCssErroCampo('valor_servico')">
        <app-error-msg [control]="formulario.get('valor_servico')" label="Valor Serviço"></app-error-msg>
      </div>

    </div>



    <!--    <div class="form-check form-check-inline">-->
    <!--      <input class="form-check-input" type="radio" name="checkbox" id="inlineRadio2" value="prestador">-->
    <!--      <label class="form-check-label" for="inlineRadio2">prestador</label>-->
    <!--    </div>-->
    <div class="d-flex justify-content-center">
      <button class="btn btn-success col-sm-6" type="submit" [disabled]="isLoading" ><i class="fa" [ngClass]="{'fa-spin  fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{button}}</button>
    </div>
  </form>
</div>
