<div class="background" >



<div class="text">
  <h1>CADASTRO</h1>
</div>

<form  class="menu" >
  <div class="form-group">
    <input type="text" class="form-control form-control-lg" id="nome" name='nome' placeholder="NOME COMPLETO" required>
  </div>
  <div class="form-row">
    <div class="form-group col-lg-5">
      <input type="date" class="form-control form-control-lg"  id="nascimento" name="data_nascimento" placeholder="DATA DE NASCIMENTO" required>
    </div>
    <div class="form-group col-lg-5 ">
      <input type="text" class="form-control form-control-lg" id="cpf" name="cpf" placeholder="CPF" required>
    </div>
  </div>
  <div class=form-group>
    <div class="form-group">
      <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="EMAIL" required>
    </div>
    <input type="password" class="form-control form-control-lg" id="password" name=senha placeholder="SENHA" required>
  </div>
  <input type="password" class="form-control form-control-lg" id="password1" placeholder="CONFIRMAR SENHA" required>

  <div class="form-check form-check-inline" >
    <input class="form-check-input" type="radio" name="checkbox" id="inlineRadio1" value="usuario" >
    <label class="form-check-label" for="inlineRadio1">usuario</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="checkbox" id="inlineRadio2" value="prestador">
    <label class="form-check-label" for="inlineRadio2">prestador</label>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="submit" class="btn">CONTINUAR</button>
  </div>
</form>
</div>
